.gotocouse a {
    text-decoration: none;
}

.gotocouse h1 {
    font-size: 28px;
    text-align: center;
}

.pdfcontainer {
    padding: 30px;
}

.embedpdf {
    width: 100%;
    height: 600px;
}

.reame {
    background-color: #153D6F !important;
    text-align: center;
}

.reamenow h1 {
    font-size: 25px;
    text-align: center;
}

.readpdflink {
    text-decoration: none;
    font-size: 25px;
    color: blue;
    background-color: #153D6F !important;
    color: white;
}

.readpdflink:hover {
    color: white;
}

.host img {
    padding-bottom: 15px;
    height: 250px;
}

.hostels {
    word-spacing: 5px;
}

.hostels h1,
h2,
h4,
h3 {
    line-height: 20px;
    font-size: 20px;
}

.hostelview {
    background-color: #52B554;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.hostelview a {
    text-decoration: none;
    background-color: #52B554;
    color: white;
    font-size: 20px;
}

.hostview img {
    height: 350px;
    width: 100%;
}

.newevent {
    text-align: center;
    font-size: 25px;
}

.newevent h1 {
    font-size: 30px;
    font-weight: 650;
    text-decoration: underline;
    text-shadow: #52B554;
}

.lecturerimg {
    height: 250px;
}

.lecturer h1 {
    font-size: 20px;
    font-weight: 650;
    text-decoration: wavy
}

.lecturer img:hover {}

.applylink {
    text-decoration: none;
    background-color: #153D6F;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.applylink:hover {
    background-color: #153D6F;
    color: black;
}

.tutoralform {
    box-shadow: -3px 11px 10px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 11px 10px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 11px 10px -8px rgba(0, 0, 0, 0.75);
    background-color: #153D6F;
}

.myvideostd {}

.myvidoes {
    height: 200px;
    width: 200px;
}

.admisionform {
    box-shadow: -3px 11px 10px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 11px 10px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 11px 10px -8px rgba(0, 0, 0, 0.75);
    text-align: center;
    margin-top: 35px;
}

.admisionform input {
    border-color: #153D6F;
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 5px;
    color: black;
    font-size: 25px;
}

.admisionform input:focus {
    border-color: #153D6F;
    box-shadow: none;
}

.admissionformselete:focus {
    border-color: #153D6F;
    box-shadow: none;
}

.admissionformstextarea:focus {
    border-color: #153D6F;
    box-shadow: none;
}

.admissionformselete {
    border-color: #153D6F;
    margin-top: 5px;
    border-width: 5px;
    margin-bottom: 5px;
    border-width: 5px;
}

.admissionformstextarea {
    border-color: #153D6F;
    margin-top: 5px;
    border-width: 5px;
    border-width: 5px;
}

.admisionform label {
    font-size: 20px;
    font-weight: 600;
    background-color: #153D6F;
    width: 100%;
    color: white;
}

.admission_submit {
    background-color: #153D6F;
    margin-top: 10px;
    color: white !important;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.announcelink a {
    text-decoration: none;
}

.myfooters,
.myfooter {
    background-color: black;
    color: white;
}

.evenet a {
    text-decoration: none;
    color: black;
}

.evenet a:hover {
    color: red;
    font-size: 20px;
}

.nav_form_submit {
    background-color: #153D6F !important;
    color: white !important;
    text-transform: uppercase;
    font-size: 20px;
}

.nav_form_submit:hover {
    background-color: #52B554 !important;
}